<!DOCTYPE html>
<html lang="en">

<head>
 

</head>

<body class="">

<div class= "col-md-6 ml-auto mr-auto d-flex align-items-center">
  <div class="card align-items-center ">
    <div class="card-body ">
    test
    </div>
  </div>
</div>
  
</body>

</html>
