<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-icon card-header-primary">
                <div class="card-icon">
                    <i class="material-icons">person</i>
  			        <p>Users</p>
                </div>
                <h4 class="card-title">New user</h4>
            </div>
            
            <%= render :partial => "form" %>
            
        </div>
        <!-- end card -->
    </div>
    <!-- end col-md-12 -->
</div>    
<!-- end row -->


